In [ ]:
print('Hello, world!')

In [ ]:
print('Segunda linea')

# Tipos de datos

**Primitivos**

In [ ]:
from datetime import datetime

integer_type = 42
float_type = 3.14159
bool_type = False
hex_type = 0xff
oct_type = 0o23
today = datetime.now()
str_type = 'David'

**Estructurados**

In [ ]:
from IPython.display import Image

Image('mysql_table_example.png')

**Semi estruturados**

In [ ]:
Image('html_markup_example.png')

**No estructurados**

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

**Solicitudes a la web**

In [ ]:
import requests

response = requests.get('https://www.platzi.com')

#response? #Que contiene una variable 
# response?? con dos ? se puede ver el código fuente
#Luego print(dir(response)) muestra todos los metodos
#print(dir(response))

In [ ]:
print(response.status_code)
print(response.headers)#Devuelve un diccionario de python
print(response.headers['Date']) #Devuelve la fecha del momento del request

In [ ]:
print(response.text) #Muestra el html en texto

**Extracción de informacion del HTML**

In [ ]:
import bs4 #Libreria

soup = bs4.BeautifulSoup(response.text,'html.parser') #Establece el lector de HTML

print(soup.select('meta[name=description]')[0]['content']) # Obtiene el meta con nombre de descripción
# Selecciona el primer elemento de la lista
courses_links = soup.select('.RecentCourses-list > div.RecentCourses-element > div.RecentCourses-item > a') # Obtiene las classes donde se guardan los cursos recientes
courses = [course['href'] for course in courses_links] #Hace una lista con los href de los cursos
#Imprime los cursos
for course in courses:
    print(course)

# Pandas
**Series**

In [3]:
import pandas as pd
#Serie de prueba
series_test = pd.Series([100,200,300])
series_test
#Serie de prueba 2
series_test2 = pd.Series({1999: 48,
                         2000: 65,
                         2001: 89})
series_test2

1999    48
2000    65
2001    89
dtype: int64

**DataFrames**

In [8]:
#Ejemplo de DataFrame
frame_test = pd.DataFrame({1999: [73, 43, 34],
                          2000: [23, 45, 12],
                          2001: [25, 54, 95]})
frame_test
frame_test2 = pd.DataFrame([[73, 43, 34],
                           [23, 45, 12],
                          [25, 54, 95]], columns=[1999, 2000, 2001])
frame_test2

   1999  2000  2001
0    73    43    34
1    23    45    12
2    25    54    95

**Read Data**

In [4]:
#pd.options.display.max_rows = 10 #Solo muestra los primeros 10 datos
el_universal  = pd.read_csv('web_scrapper_data_eng/eluniversal_2020_01_17_articles.csv')
#el_universal.head() primeros 5 datos
#el_universal.tail() ultimos 5 datos
el_universal

   body         title
0   NaN  Martí Batres

**Index and selection**

In [5]:
# Dictionary like

print(el_universal['title'])
# print(el_universal[['title','url']]) Regresa un nuevo data frame

# Numpy like
#print(el_universal.iloc[10:15]) Selección de la fila 10 a la 14
#print(el_universal.iloc[66]['title']) Obtiene el titulo de la columna 67
#print(el_universal.iloc[:5, 0]) No es una forma usual que obtiene el body de los registros del 0 al 4

#Label
#print(el_universal.loc[:,'body':'title']) Todos los registros pero sólo body y title

0    Martí Batres
Name: title, dtype: object

**Data wrangling**

In [5]:
# 1. Añadir newspaper_uid al DataFrame

el_universal['newspapes_uid'] = 'eluniversal'#Le añadimos una columna que es el id del newspaper

print(el_universal)
#2. Obtener el host
#Importamos urlparse
#from urllib.parse import urlparse
# En la siguiente obtenemos el host de los url utilizando apply (de pandas) a una función lambda(inline) y usando el urlparse para obtener el host en cada url
#el_universal['host'] = el_universal['url'].apply(lambda url: urlparse(url).netloc)

#el_universal['host'].value_count() #Devuelve cuantas veces se repite un valor en una serie del dataset

   body         title newspapes_uid
0   NaN  Martí Batres   eluniversal

**Missing data**

In [4]:
#3. Rellenar datos faltantes

missing_titles_mask = el_universal['title'].isna()

print(missing_titles_mask) #Serie de si los titulos estan o no vacios
# Obtiene la parte final de los url que usualmente tienen los títulos y los divide para convertirlos en títulos
# missing_titles = (el_universal[missing_titles_mask]['url']
#                   .str.extract(r'(?P<missing_titles>[^/]+)$'
#                   .applymap(lambda title: title.split(-))
#                   .applymap(lambda title_word_list: ' '.join(title_word_list)))
#                    )
#print(missing_titles) #Imprime los títulos que faltan

0    False
Name: title, dtype: bool

**Additional cleanup**

In [2]:
#4. añadir uid a las filas
# import hashlib
# Obtiene los uids utilizando hashlib con referencia a los url en numeros hexadecimales
# uids = (el_universal
#             .apply(lambda row: hashlib.md5(bytes(row['url'].encode())), axis=1)
#             .apply(lambda hash_object: hash_object.hexdigest())
#         )
# Coloca la columna uid en el df como primera columna
# el_universal['uid'] = uids
# el_universal.set_index('uid', inplace=True)

# print(el_universal)

# Para eliminar los saltos de linea en el body y crear una serie con los bodies
# stripped_body = (el_universal
#                     .apply(lambda row: row['body'], axis=1) #Obtiene el body del df
#                     .apply(lambda body: list(body)) #Lo convierte en una lista de letras
#                     .apply(lambda letters: list(map(lambda letter: letter.replace('\n',''),letters))) #Cambia los saltos en espacios vacios en letters
#                     .apply(lambda letters: ''.join(letters))#Une las letras separadas  
#                 )
# print(stripped_body)

**Data enrichment**

In [7]:
# nltk.download('punkt')
# nltk.download('stopwords')

[nltk_data] Downloading package punkt to /home/rodrigojgq/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /home/rodrigojgq/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [12]:
# #6. tokenizar el título y el body
# import nltk #conda install nltk
# from nltk.corpus import stopwords


# stop_words = set(stopwords.words('spanish'))

# def tockenize_column(df, column_name):
#     return (df
#             .dropna()
#             .apply(lambda row: nltk.word_tokenize(row[column_name]), axis=1) #selecciona los datos
#             .apply(lambda tokens: list(filter(lambda token: token.isalpha(),tokens))) #Los convierte en tokens alphanuméricos
#             .apply(lambda tokens: list(map(lambda token: token.lower(), tokens))) #las convierte en minúsculas
#             .apply(lambda word_list: list(filter(lambda word: word not in stop_words, word_list))) #Genera una lista de palabras validas
#             .apply(lambda valid_word_list: len(valid_word_list)) #Cuenta las palabras validas
#            )
# #Tokeniza los titulos y los body
# el_universal['n_tokens_title'] =tockenize_column(el_universal, 'title')
# el_universal['n_tokens_body'] =tockenize_column(el_universal, 'body')
# print(el_universal)

**Duplicate values**

In [ ]:
#7. Eliminar duplicados
# Elimina los valores duplicados de a cuerdo a título
# el_universal.drop_duplicates(subset=['titles'], keep='first', inplace = True)
# Las transformaciones terminan en este lugar
# print(el_universal)